body {
  font-family: sans-serif;
  color: #01ce12; }

.header {
  backdrop-filter: blur(2px);
  background-color: rgba(3, 53, 216, 0.2); }
  .header--top {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%); }
