* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  color: rgb(0, 87, 7);
}

.header {
  backdrop-filter: blur(2px);
  background-color: rgba($main-blue, 0.2);

  &--top {
    @include abs-center;
  }
}
