* {
  margin: 0;
  padding: 0; }

body {
  font-family: sans-serif;
  color: #005707; }

.header {
  backdrop-filter: blur(2px);
  background-color: rgba(3, 53, 216, 0.2); }
  .header--top {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%); }

.footer {
  display: grid;
}

  .footer a {
    color: rgba(41,73,38, 0.8);
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
  }
