$myVar: #294926;

@define-mixin callMe {
  position: relative;
  top: 0;
  left: 0;
}

.footer {
  display: grid;

  a {
    color: rgba($myVar, 0.8);
    @mixin callMe;
    display: flex;
    backface-visibility: hidden;
  }
}
