* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --container-load-time: 400;
}

html {
  font-size: 62.5%;
}

body {
  color: $font-light;
  box-sizing: border-box;
  overflow-y: scroll;
}
