$myVar: #294926;
$bodyPadding: 1rem;
$left-side-width: 25rem;

$font-light: #303030;

/* ICON */
$icon-holders-parents-height: 7rem;
$icon-holders-parents-height-small: 4rem;
$notification-icon-holder-bottom-shadow: #0097a7;

$list-bg: #eef2f3;

$text-2: #474848;
$text-3: #5f6061;
$text-4: #777979;
